* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

body {
  height: 100vh;
  width: 100vw;
  /*background: linear-gradient(120deg, rgb(155, 27, 72), rgb(89, 5, 106));*/
  background: #222629;
  color: white;
}

nav {
  position: absolute;
  border-bottom: 1px solid black;
}

nav ul {
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  list-style: none;
  margin: 10px 0px;
}

nav .name {
  position: absolute;
  margin: 40px 50px;
  font-weight: 800;
  text-decoration: underline;
}

nav .name:hover {
  color: #fff;
}

nav li {
  margin: 30px 50px;
}

nav a {
  text-decoration: none;
  color: #86c232;
}

nav a:hover {
  color: #ccc;
  cursor: pointer;
}

.calc-header-container {
  display: flex;
  flex-direction: column;
  height: 45vh;
  justify-content: center;
  align-items: center;
}

.calc-header-container h1 {
  text-align: center;
  font-size: 3rem;
  margin: 30px;
  font-weight: 400;
}
.calc-header-container h2 {
  text-align: center;
  color: #6b6e70;
}

.calc-header-container h1 span {
  text-decoration: underline;
  font-weight: 800;
}

.calc-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

.calc-wrapper {
  margin-top: -10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  height: 400px;
  background: white;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.calc-wrapper h1 {
  color: #222;
  margin-top: 40px;
}

.income {
  margin: 20px 100px;
  margin-top: 50px;
  font-size: 2rem;
  height: 35px;
  text-align: center;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  transition: color 0.5s;
  font-weight: 800;
}

.income::-webkit-input-placeholder {
  font-size: 1rem;
}

/* Remove number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.calculate {
  color: #86c232;
  background: #222629;
  margin: 20px 135px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 1.3rem;
  font-weight: 800;
}

.calculate:hover {
  background: #86c232;
  color: #222629;
  font-weight: 800;
}

.calculate:active {
  transform: scale(0.95);
}

.calc-result {
  color: black;
  font-size: 1rem;
  line-height: 30px;
  margin: 15px;
}

.calc-result span {
  font-weight: 700;
}

.green {
  /*color: rgb(0, 143, 0);*/
  color: #86c232;
}

.red {
  /*color: rgb(214, 0, 0);*/
  color: #c23232;
}

.orange {
  /*color: rgb(233, 128, 0);*/
  color: #ce6c21;
}

.show-modal {
  display: flex;
}

.close-modal {
  position: absolute;
  top: 0.2rem;
  right: 1rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  z-index: 5;
  animation: fade-in 0.3s ease-in;
}

.modal {
  position: fixed;
  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  color: black;
  z-index: 10;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  animation: fade-in 0.3s ease-in;
}

.modal-content {
  margin: 60px 30px;
}

.modal span {
  font-weight: 800;
}

.fa-question-circle {
  display: flex;
  align-self: flex-end;
  margin: 15px;
  position: absolute;
  color: #333;
  font-size: 1.2rem;
  opacity: 0.3;
}

.fa-question-circle:hover {
  color: #000;
  cursor: pointer;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
